.leaderboard-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leaderboard-item-body{
    display: flex;
    align-items: center;
    gap:14px;
}

.seperator{
    width: 2px;
    background-color: #D9D9D9;
    border-radius: 5px;
    height: 30px;
}

.leaderboard-item .display-picture{
    width: 45px;
    height: 45px;
}

.leaderboard-item .profile-details span{
    color: #256F3A;
    font-weight: bold;
}