.set-password{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.set-password-card-container{
    max-width: 400px;
    width: 100%;
    margin:15px;
}

.set-password-card{
    padding:50px 35px;
}


.set-password-button{
    width: 100%;
    margin-top: 20px;
}

.set-password-body{
    display: flex;
    flex-direction: column;
    gap:15px;
}

.forget-password{
    color: var(--sapButton_Emphasized_Background);
    text-decoration: none;
    margin-top: 5px;
}

.error-container{
    margin:0 0 20px 0;
}

.logo{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}