.post{
    background-color: white;
    padding:1rem;
    border-radius: 10px;
}
.post-header{
    display: flex;
    justify-content: space-between;
}

.post-menu{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.post-media{
    width: 100%;
}
.post-media img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-height: 500px;
}

.reactions{
    display: flex;
    gap:20px;
    margin-top:8px;
}

.reaction{
    display: flex;
    gap:8px;
    align-items: center;
}

.reaction span{
    font-size: 0.9rem;
}

.post-action-icons{
    display: flex;
    gap:15px;
    align-items: center;
}

.post-tags{
    display: flex;
    gap:5px;
}

