.post-header{
    display: flex;
    justify-content: space-between;
}

.post-menu{
    display: flex;
    align-items: center;
}

.post-media{
    width: 100%;
}
.post-media img{
    width: 100%;
}

.reactions{
    display: flex;
    gap:20px;
    margin-top:8px;
}

.reaction{
    display: flex;
    gap:8px;
    align-items: center;
}

.reaction span{
    font-size: 0.9rem;
}

.post-seperator{
    margin-top: 12px;
    height: 1px;
    background-color:#dcdcdc;
}