.outlet{
    padding: 0.8rem;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}

.form-input{
    width:100%;
}

@media screen and (min-width:720px) {
    .outlet{
        padding: 1rem;
    }
}