.navigation-bar{
    display: none;
    height: 100%;
}

.homepage{
    display: grid;
    grid-template-columns: 100%;
    margin-bottom: 85px;
}

.activities-section{
    display: none;
    margin:10px 20px;
    margin-top: 0;;
}
.post-area{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.create-post-card{
    padding:1rem;
}

.create-post-card label{
    font-weight: 500;
    margin-right: 10px;
}

.create-post-actions{
    display: flex;
    gap:10px;
    justify-content: space-between;
}

.file-uploader{
    display: none;
}

.image-preview-container {
    display: flex;
    gap: 10px;
    margin: 20px 0 10px;
    flex-wrap: wrap;
  }
  
  .image-preview-item {
    position: relative;
    width: 80px;
    height: 80px;
  }
  
  .preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .remove-btn {
    position: absolute;
    top: -6px;
    right: -6px;
    background: white;
    border: 0.5px solid #888;
    border-radius: 50%;
    font-size: 12px;
    cursor: pointer;
    padding: 2px 5px;
  }

@media screen and (min-width:720px) {
    .navigation-bar{
        display: block;
    }
}

@media screen and (min-width:1200px) {
    .homepage{
        grid-template-columns: 60% 40%;
        margin-bottom: 0;
    }
    .activities-section{
        display: flex;
        position: sticky;
        height: 90vh;
        flex-direction: column;
        flex-grow: 0;
        gap:30px;
        position: sticky;
        top: 0;
    }
}

@media screen and (min-width:1400px) {
    .homepage{
        grid-template-columns: 70% 30%;
    }
}